
#courses{
    position: absolute; left: 0; top: 0; width: 50%;
}

#curriculum{
    position: absolute; right: 0; top: 0; width: 50%;
}

nav, .year{
    margin-bottom: 10px;
}

#year {
    height: 50px;
    margin: auto;
}

.jumbotron{
    padding: 1rem 1rem !important;
}

.semester label {
    display: block;
}

/*.semester{
    height: 200px;
}
*/
.courseList{
    height: 180px;
    overflow: auto;
}